@CHARSET "UTF-8";

div.list {}
div.list table {
	font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif !important;
	border-radius: 7px;
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 3px 1px rgba(128, 128, 128, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.15), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom, #ECECEC 0%, #EAEAEA 10px, rgb(244, 244, 244) 50px);
	width:100%;height:250px;border-spacing:0px;border-collapse:collapse;border:0px solid rgb(232, 232, 232);text-align:center}
div.list table thead tr th:first-child {
	border-top-left-radius: 7px;
	/* -webkit-border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; */
}
div.list table thead tr th:last-child {
	border-top-right-radius: 7px;
}
div.list table thead tr th{
	height:30px;
	padding:0px 5px 0px 5px;
	color: #ffffff;
	background-color: rgb(89, 121, 167);
	
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
	
}
/* div.list table tbody tr:nth-child(odd){padding:0px 5px 0px 5px;border:0px solid #DDDDDD;background-color:#F7F7F7}
div.list table tbody tr:nth-child(even){padding:0px 5px 0px 5px;border:0px solid #DDDDDD;background-color:#FFFFFF}
 */div.list table tbody tr td{cursor:pointer;height:20px;padding:0px 5px 0px 5px;
/* border-right:1px solid #DDDDDD; */
border-bottom: 1px solid rgb(232, 232, 232);border-bottom:1px solid #DDDDDD;}
div.list table tbody tr td.titlevTd {text-align:left}
div.list table tbody tr td:last-child {border-right:0px solid #DDDDDD;}
div.list table tbody tr td:HOVER {background-color:#DFDFDF}
div.list table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 7px;
}
div.list table tbody tr:last-child td {border-bottom:0px solid #DDDDDD;}
div.list table tbody tr:last-child td:last-child {
	border-bottom-right-radius: 7px;
	border-right:0px solid #DDDDDD;
	border-bottom:0px solid #DDDDDD;
}
div.list table tbody tr td a {
	color: rgb(89, 121, 167);
	line-height: 18px;
}
div.list table tbody tr td a:HOVER {
	color: rgb(199, 113, 27);
	text-decoration: underline;
}


div.form {}
div.form table {width:100%;border-spacing:0px;border-collapse:collapse;border:1px solid #DDDDDD;text-align:center}
div.form table thead tr th{padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#DFDFDF}
div.form table tbody tr th div.previewId {background-color:#FFFFFF}
div.form table tbody tr th div.imgsizen {background-color:#FFFFFF}

div.form table tbody tr th:nth-child(odd){padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#E7E7E7}
div.form table tbody tr th:nth-child(odd){border:1px solid #DDDDDD;background-color:#E7E7E7}
div.form table tbody tr th:nth-child(even){border:1px solid #DDDDDD;background-color:#E4E4E4}
div.form table tbody tr td{text-align:left;padding:5px 5px 5px 5px;border:1px solid #DDDDDD;}


div.view {}
div.view table {width:100%;border-spacing:0px;border-collapse:collapse;border:1px solid #DDDDDD;text-align:center}
div.view table thead tr th{text-align:center;padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#DFDFDF}
div.view table tbody tr th div.previewId {background-color:#FFFFFF}
div.view table tbody tr th div.imgsizen {background-color:#FFFFFF}

div.view table tbody tr th:nth-child(odd){padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#E7E7E7}
div.view table tbody tr th:nth-child(odd){border:1px solid #DDDDDD;background-color:#E7E7E7}
div.view table tbody tr th:nth-child(even){border:1px solid #DDDDDD;background-color:#E4E4E4}
div.view table tbody tr td:nth-child(odd){padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#F7F7F7}
div.view table tbody tr td:nth-child(even){padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#FFFFFF}
div.view table tbody tr td{text-align:center;padding:0px 5px 0px 5px;border:1px solid #DDDDDD;}


div.paging {font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;text-align:center;float:right;margin:10px}
div.paging div.pagenum {margin:0px}
div.paging div.pagenum strong {
	/* color: #707070 !important;
	background: #FFFFFF !important;
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	
	 */
	width: 15px;
	padding: 6px 9px 6px 9px !important;
	margin-right: 3px !important;
	display:inline-block;
	color: #ffffff;
	background-color: rgb(89, 121, 167);
	text-shadow: 0 0 0 transparent, 0px 0px 3px rgba(0,0,0, 0.5);
	border-radius: 3px;
	position: relative;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1); -khtml-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1); box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF);
	
}
div.paging div.pagenum a:HOVER {
	/* color: #fff !important;
	text-shadow: 0px 1px #B72E2E !important;
	border-color: #AD2D2D !important;
	background: #E43838 !important;
	background: -moz-linear-gradient(top,#FF9B9B 1px,#FE5555 1px,#E43838) !important;
	background: -webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#FF9B9B),color-stop(0.02,#FE5555),color-stop(1,#E43838)) !important; */
	color: #ffffff;
	text-decoration: none;
	border-radius: 3px;
	background-color: rgb(199, 113, 27);
	text-shadow: 0 0 0 transparent, 0px 0px 3px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1); -khtml-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1); box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF);
	}
div.paging div.pagenum a {
	/* color: #707070 !important;
	background: #FFFFFF !important;
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border: solid 1px #DCDCDC !important;
	
	margin-right: 3px !important;
	 */
	display:inline-block;
	
	margin-right: 3px !important;
	padding: 6px 9px 6px 9px !important;
	border-radius: 3px;
	color: rgb(88, 100, 119);
	background-color: #fafafa;
	position: relative;
	-webkit-border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;
	text-align: center;


}
div.paging div.pagenum a.num { width: 15px;}
	

a.btn  {
		padding: 0;
	display: inline-block;
	line-height: 26px;
	outline: 0 none;
	cursor: pointer;
	min-height: 26px;
	margin-top:5px;
	margin-right:5px;
	font-weight: bold;
	font-size: 11px;
	font-family: Calibri, 'Trebuchet MS', Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: rgb(89, 121, 167);
	padding: 0 15px;
	border: 0 solid transparent;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
	display: block;
	min-height: 26px;
	text-shadow: 0 0 0 transparent, 0px 0px 3px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1), 0 0 2px rgba(0, 0, 0, .1), 0 5px 5px -5px rgba(0, 0, 0, .2); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1), 0 0 2px rgba(0, 0, 0, .1), 0 5px 5px -5px rgba(0, 0, 0, .2); -khtml-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1), 0 0 2px rgba(0, 0, 0, .1), 0 5px 5px -5px rgba(0, 0, 0, .2); box-shadow: 1px 1px 2px rgba(0, 0, 0, .1), 0 0 2px rgba(0, 0, 0, .1), 0 5px 5px -5px rgba(0, 0, 0, .2);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF);


		
		font-family: 'Open Sans', 'Droid Sans', Calibri, 'Trebuchet MS', Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight: 400;
}
a.btn:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: rgb(199, 113, 27);
	text-shadow: 0 0 0 transparent, 0px 0px 3px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1); -khtml-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1); box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF);
}
a.btn:active {
	position:relative;
	top:1px;
}
	
	