@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#content {
	width: 930px;
	border: 0px solid black;
	margin: 0 auto 0 auto;
	padding: 0;
}

#middle {
	width: 100%;
	border: 0px solid black;
	margin-top: 1%;
	position: relative;
	float: left;
}



#subtext {
	font-size: 20px;
	margin-left: 0;
	margin-top: 0.4%;
	position: relative;
	float: left;
}

#content_sub_image {
	width: 100%;
	height: 30%;
	border: 0px solid black;
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
}

#content_sub_image img {
	width: 100%;
	position: relative;
}



#footer {
	width: 930px;;
	height: 50px;
	border: 0px solid black;
	marign: 0;
	padding: 0;
	position: relative;
	float: left;
}

#m_content {
	width: 30%;
	border: 0px solid black;
	margin: 0;
	margin-right: 3%;
	position: relative;
	float: left;
}

#m_content img {
	width: 100%;
	position: relative;
}



#textfiled {
	width: 60%;
	height: 20px;
	margin: 0 0 0 37%;
	padding: 0;
	border: 2px solid #FAC9BA;
	border-radius: 5px;
}

#login {
	width: 55%;
	text-align: center;
	margin: 15% auto 5% 40%;
	border: 0px solid black;
}

#login {
	font-size: 70%;
	font-weight: bold;
	color: gray;
}

#login a {
	text-decoration: none;
}