@CHARSET "UTF-8";

* {
	margin: 0 auto;
}

a:link {
	color: red;
	text-decoration: none;
}

a:visited {
	color: red;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	color: #39BCED;
	text-decoration: none;
}

#movie_body {
	margin: 0 auto 0 auto;
}

#title_movie {
	margin: 0;
	margin-top: 20px;
	padding: 0;
	width: 930px;
	height: 310px;
	border: 3px outset #FFD8D8;
	border-radius: 18px;
	overflow: hidden;
	position: relative;
	float: left;
	background-color: #FFD8D8;
}

#title_text {
	width: 930px;
	height: 40px;
	border-bottom: 2px outset #FF5E80;
	background-color: #FF5E80;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 0 0 21px;
	color: white;
}

#title_movie ul li {
	width: 165px;
	display: inline;
	list-style: none;
	float: left;
	margin-top: 10px;
	margin-left: 17.5px;
}

#showTable {
	width: 930px;
	heigth: 400px;
	margin-top: 20px;
	border-radius: 20px;
	background-color: #FFD8D8;
	position: relative;
	text-align: center;
	float: left;
}

#showTable table {
	width: 930px;
}

.image_tab {
	width: 250px;
	padding-top: 10px;
	padding-bottom: 7px;
	padding-left: 25px;
}

.title {
	width: 100px;
	background-color: #5CD1E5;
}

.story {
	width: 930px;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#sevice1 {
	margin-left: 50px;
}

/* #detail_movie {
	width: 930px;
	height: auto;
	margin-top: 20px; padding : 0;
	position: relative;
	float: left;
	border: 1px solid black;
	padding: 0
} */

#movie_title {
	width: 930px;
	height: 40px;
	border-bottom: 3px solid black;
	padding: 9px 0 11px 13px;
}

#image1_1 {
	width: 225px;
	/* margin-left: 15px; margin-top : 22px; */
	margin:0px;
	padding:0px;
	border: 1px solid black;
	position: relative;
	float: left;
	/* margin-top: 22px; */
}

#movie_content {
	width: 500px;
	height: auto;
	margin-left: 15px; margin-top : 22px;
	vertical-align:middle;
	border: 1px solid black;
	position: relativ;
	float: left;
	margin-top: 22px;
}

/* .st{
	width : 500px;
	height : auto;
	margin-top : 30px;
	text-align: center;
} */

#s_text{
	
}

#detail_movie {
	width: 930px;
	height: auto;
	margin-top: 20px; padding : 0;
	position: relative;
	float: left;
	border: 1px solid black;
	padding: 0;
	text-align : center;
	border-collapse: collapse;
}

#inner_detail_movie {
	width : 800px;
	text-align: center;
}

#inner_detail_movie, tr, td{
	padding : 10px;
	border: 1px solid black;
	border-collapse: collapse;
}
