@CHARSET "UTF-8";

#logo {
	width: 30%;
	border: 0px solid black;
	text-align: center;
	margin: 0;
	margin-left: 30%;
	padding: 3% 0 4% 0;
	position: releative;
	float: left;
}

#logo img {
	width: 100%;
	position: relative;
}

#member {
	width: 130px;
	border: 1px solid black;
	margin-top : 93px;
	font-size : 14px;
	padding: 0;
	position: relative;
	float: right;
}

#menubar {
	background-color: #5191D9;
	color: white;
	width: 100%;
	height: 10%;
	border: 0px solid black;
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
}

#menubar ul li {
	width: 130px;
	height : 37px;
	border: 0px solid black;
	list-style: none;
	float: left;
	display: inline;
	font-size: 19px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 0.8%;
}

.menu:hover {
	background-color: #FF5E80;
	color: white;
	font-weight: bold;
}