@CHARSET "UTF-8";
* {
	
}

#view_insert{
	width : 800px;
	height : 500px;
	border : 0px solid black;
	margin : 0 auto 0 auto;
}

#view_title {
	width : 460px;
	height : 35px;
	padding : 10px;
	margin : 0 auto 0 auto;
	text-align : center;
	border-bottom : 3px solid black;
}
#view_title span:nth-child(1){
	font-size : 25px;
	font-weight : bold;
}

.nav {
	position:relative;
	top:10px;
	left:145px;
}

.nav a {
	text-decoration:none;
}

#view_list {
	width : 150px;
	height : 500px;
	margin-left : 85px;
	text-align : right;
	border : 0px solid black;
	position : relative;
	float : left;
}

#view_list .rec {
	color : #FF5EAE;
	font-famliy:'Nanum Gothic';
	font-weight:bold;
}

#view_list ul li{
	list-style :none;
	widht : 140px;
	height : 30px;
	border : 0px solid black;;
}

#view_list_input{
	width : 500px;
	height : 500px;
	border : 0px solid black;
	position : relative;
	float : left;
}

#view_list_input ul li{
	width : 490px;
	height : 30px;
	border: 0px solid black;
	list-style : none;
}

#view_list_input input {
	border-radius : 5px;
	border : 1px solid #FF5EAE;	
}

#member_bday_v{
	margin-right : 10px;
}

.btn{
	width : 100px;
	height : 30px;
	color : white;
	font-size : 15	px;
	font-weight : bold;
	background-color : #FF5EAE;
	border : 1px solid #FF5EAE;
	border-radius : 9px;
}
#jibunBtn{
	width : 50px;
	height : 25px;
	color : white;
	font-weight : bold;
	border-radius : 9px;
	border : 1px solid #FF5EAE;
	background-color : #FF5EAE;
	font-size : 13px;
}
#roadBtn{
	width : 50px;
	height : 25px;
	color : white;
	font-weight : bold;
	border-radius : 9px;
	border : 1px solid #FF5EAE;
	background-color : #FF5EAE;
	font-size : 13px;
}

#jibunBtn:hover{
	background-color : #27B5EC;
}

#roadBtn:hover{
		background-color : #27B5EC;
}

.btn:hover{
	background-color : #27B5EC;
}

