@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#sub_menu {
	widht: 300px;
	height: 655px;
	margin-top: 25px; float : left;
	border: 1px solid black;
	float: left
}

#sub_menu ul li {
	margin: 20px 10px 0 10px;
	list-style: none;
}

#profile {
	widht: 100px;
	height: 80px;
	margin-left: 10px; padding : 10px 10px 10px 10px; border : 1px solid
	black;
	position: relative;
	float: left;
	border: 1px solid black;
	padding: 10px 10px 10px 10px
}

#sign_area {
	widht: 800px;
	height: 200px;
	margin-top: 25px; border : 1px solid black;
	position: relative;
	float: right;
	border: 1px solid black
}

#board_content {
	width: 810px;
	height: 430px;
	margin-top: 25px;
	position: relative;
	float: right;
	border: 0px solid black;
}

#board_title, #board_title a {
	width: 375px;
	height: 40px; padding-top : 10px;
	padding-left: 10px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 3px 3px 3px #B70000;
	color: white;
	background: linear-gradient(to bottom, #FF53AC, #FFB3C2);
	border: 0px solid black;
	color: white;
	padding-top: 10px;
}

#men_board {
	width: 375px;
	height: 200px;
	margin-left: 20px;
	border: 0px solid black;
	overflow : hidden;
	box-shadow: 3px 3px 3px #FFB3C2;
	border-radius: 10px;
	position: relative;
	float: left;
}

#girl_board {
	width: 375px;
	height: 200px;
	margin-left: 20px;
	overflow : hidden;
	box-shadow: 3px 3px 3px #FFB3C2;
	border: 0px solid black;
	border-radius: 10px;
	position: relative;
	float: left;
}

#worry_board {
	width: 375px;
	height: 200px;
	overflow : hidden;
	margin: 15px 0 0 20px; 
	border : 1px solid black;
	box-shadow: 3px 3px 3px #FFB3C2;
	border-radius: 10px;
	position: relative;
	float: left;
	border: 0px solid black
}

#free_board {
	width: 375px;
	height: 200px;
	overflow : hidden;
	margin: 15px 0 0 20px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #FFB3C2;
	border: 0px solid black;
	position: relative;
	float: left;
}

.li_st{
	margin : 5px 0 0 5px;
	border-bottom : 1px solid black;
}